h1{
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-style: oblique;
}
body{
    background-color: whitesmoke;
}
h4{
    font-style: italic;
}
#camera,#resultShow{
    border-color: black;
    width: fit-content;
    height: fit-content;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img:hover{
    border-radius: 120px;
}
img{
    box-shadow: 0 6px 8px 0 rgba(2,2, 2, 0.2);
}